//TODO factor out the border (also in prettyBox)  
#donate
  border: 3px solid black
  overflow: auto
  width: 100%
  padding: .5em
  input
    float: left
    padding: 1em
  span
    font-size: smaller
    float: left
    width: 435px
