%input{:type=>"hidden", :name=>"cmd", :value=>"_donations"}
%input{:type=>"hidden", :name=>"item_number", :value=>"#{@donation.id}"}
%input{:type=>"hidden", :name=>"amount", :value=>"#{@donation.amount}"}
%input{:type=>"hidden", :name=>"tax", :value=>"0"}
